/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MOBILE STYLES */
/* ALL PAGES STYLING */
:root {
    --background: #99cc33;
}
*,*::before,*::after {
    box-sizing: border-box;
}
/* Navigation bar styling */
/* Code for navigation bar was originally made by Kevin Powell - I followed his tutorial */
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    font-family: filson-pro;
    font-weight: 600;
    height: 6em;
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
.nav-toggle-label span::before {
    bottom: 8px;
}
.nav-toggle-label span::after {
    top: 8px;
}
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
nav a:hover {
    color: #000;
}
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
.logo {
    width: 120px;
    margin-top: 0.8em;
}
/* Footer styling */
.footer-contactpicture {
    width: 25px;
}
.footer-somepicture {
    width: 25px;
}
footer {
    background-color: #ffff66;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.2em;
}
.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footersection1 {
    margin-left: 0.5em;
}
.footersection2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.5em;
}
.footer-some-container {
    display: flex;
    flex-direction: row;
}
.footerheadline {
    font-family: filson-pro;
    font-weight: 500;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 0.6em;
}
#middlesome {
    margin-right: 0.6em;
    margin-left: 0.6em;
}
.footer-contact-text {
    font-family: circe;
    font-size: 1em;
    margin-left: 0.5em;
}
/* INDIVIDUAL PAGE STYLING + common styling */
.home-body,
.tea-body,
.shop-body {
    margin: 0;
    background: var(--background);
    font-weight: 400;
}
.about-body,
.contest-body {
    margin: 0;
}
.home-white-background,
.tea-white-background,
.shop-white-background {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    background-color: #ffffff;
    width: 100%;
    height: 37em;
    margin: 0;
}
/* HOME page + common */
.home-main,
.tea-main,
.shop-main,
.about-main,
.main-contest,
.main-contact {
    margin-top: 6em;
}
.home-title-container,
.tea-title-container {
    margin-bottom: 1em;
    padding-top: 2em;
}
.shop-image-container {
    padding-top: 3em;
}
.home-title-container2 {
    display: none;
}
.home-title,
.tea-title {
    color: black;
    font-family: filson-pro;
    font-weight: 700;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 0.3em;
}
.home-subtitle,
.tea-subtitle {
    color: black;
    font-family: filson-pro;
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
}
.home-image-container,
.tea-image-container,
.shop-image-container {
    display: flex;
    justify-content: center;
}
.home-pickwicktea,
.tea-pickwicktea,
.shop-pickwicktea {
    width: 300px;
}
.home-button-container {
    display: flex;
    justify-content: center;
}
.white-button-shop {
    margin-top: 1em;
    text-decoration: none;
    font-family: filson-pro;
    font-weight: 700;
    font-size: 1.8em;
    color: black;
    background-color: #ccff66;
    border: solid #99cc33 5px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border-radius: 40px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
    text-align: center;
}
.white-button-about,
#button {
    margin-top: 1em;
    text-decoration: none;
    font-family: filson-pro;
    font-weight: 700;
    font-size: 1.3em;
    color: black;
    background-color: #ccff66;
    border: solid #99cc33 4px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border-radius: 40px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
    text-align: center;
}
.home-contest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
.home-contest-text {
    color: #ffffff;
    font-family: filson-pro;
    font-weight: 700;
    font-size: 1.9em;
    text-align: center;
}
.home-contest-text-small {
    color: #ffffff;
    font-family: filson-pro;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 0.3em;
    text-align: center;
}
.home-contestimage-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.home-contestimage {
    width: 300px;
}
.green-button-contest {
    margin-top: 1em;
    text-decoration: none;
    font-family: filson-pro;
    font-weight: 700;
    font-size: 1.3em;
    color: black;
    background-color: #ccff66;
    border: solid #ffffff 4px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border-radius: 40px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 3em;
}
/* ABOUT TEA styling + ACCORDION */
.tea-image-container {
    padding-top: 2em;
}
.tea-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tea-description {
    font-family: circe;
    font-size: 1.2em;
    margin: 1.6em 1em 1em 1.5em;
}
.tea-white-background {
    height: 38em;
}
/* ACCORDION STYLING */
/* Accordion (collapsible menu) code was created by Mark Caron. This version is recreation and development of it. */
.accordion-container-main {
    margin: 2em 2em 4em 2em;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    border: 1px solid #ffffff;
}
.accordion {
    border: 1px solid #ffffff;
}
#accordion-first {
    border-top: 2px solid #ffffff;
}
#accordion-last {
    border-bottom: 1px solid #ffffff;
}
.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}
.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}
.content {
    background-color: #bae95c;
}
.accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}
.accordion label {
    display: block;
}
.accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 2px solid #99cc33;
    border-top: 0;
}
.accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
}
.accordion label {
    color: black;
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #bae95c;
}
.accordion .handle label:before {
    font-family: 'fontawesome';
    content: "\f054";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
}
.accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\f078";
}
.accordion-label-style {
    font-family: filson-pro;
    border-bottom: 3px solid #ffffff;
}
.accordion-content-text {
    font-family: circe;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.benefits-li {
    list-style: inside;
    margin-bottom: 1em;
}
/* FAQ accordion styling */
#accordion-contact {
    margin-bottom: 0.5em;
}
/* BUY NOW page styling */
.shop-white-background {
    height: 53em;
}
.amount-options-picker,
.shipping-options-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.picker-info-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}
.picker-info {
    font-family: filson-pro;
    font-weight: 500;
    font-size: 1.1em;
}
.availability-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.tick {
    width: 30px;
    margin-right: 0.2em;
}
.tick-info {
    font-family: filson-pro;
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 0.2em;
}
.reviews-headline {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}
.stars-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}
.rating-star {
    width: 35px;
    margin-left: 0.1em;
    margin-right: 0.1em;
}
.reviews {
    text-decoration: none;
    color: black;
    font-family: filson-pro;
    font-weight: 500;
    font-size: 1.4em;
}
.amounts-heading,
.accessories-heading {
    text-align: center;
    font-family: filson-pro;
    font-weight: 700;
    font-size: 1.7em;
    color: #ffffff;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}
.product-image {
    width: 250px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
}
.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.single-product {
    margin-top: 2em;
}
.product-text1,
.product-text2 {
    text-align: center;
    font-family: filson-pro;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.product-text2 {
    font-size: 1em;
}
.checkout-button {
    display: flex;
    justify-content: center;
}
.form {
    font-family: filson-pro;
    font-weight: 500;
    font-size: 1.2em;
    border: 3px solid #99cc33;
    background-color: #ffffff;
}
.option {
    font-family: filson-pro;
}
#button {
    margin-top: 1.5em;
}
.amounts,
.accessories {
    margin-bottom: 3em;
}
/* ABOUT PICKWICK page styling */
.certificate {
    width: 90px;
    margin-left: 0.6em;
    margin-right: 0.6em;
}
.certificates-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 3em;
}
.about-heading,
.contest-heading,
.contact-heading {
    font-family: filson-pro;
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    padding-top: 1.5em;
    margin-bottom: 1em;
}
.about-subheading,
.contest-subheading {
    text-align: center;
    font-family: filson-pro;
    font-weight: 500;
    font-size: 1.6em;
    margin-bottom: 0.8em;
}
.common-text {
    font-family: circe;
    font-size: 1.1em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
.about-content-section {
    margin-bottom: 3em;
}
.about-link {
    text-decoration: none;
    color: #99cc33;
}
.about-pic {
    width: 320px;
}
.about-image {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
/* CONTEST page styling */
.contest-subheading1,
.contest-subheading2 {
    font-family: filson-pro;
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
}
.contest-subheading2 {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.photocontest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}
.contestant-image {
    width: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.contest-heading-img {
    width: 200px;
}
.contest-image-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
/* CONTACT page styling */
.contacticon {
    width: 45px;
}
.contact-firstsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.contact-icon-container {
    display: flex;
    align-self: center;
    justify-content: center;
}
.contacttext-info {
    text-align: center;
    font-family: filson-pro;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 2em;
}
.contact-href,
.contact-href-footer {
    text-decoration: none;
    color: black;
}
#faqlink {
    text-decoration: none;
    color: #7fb80d;
}
/* Contact GOOGLE MAPS styles */
#gmap-canvas {
    border: 0px;
    overflow: unset;
    margin: 0;
    width: 360px;
    height: 360px;
    padding: 20px;
    padding-top: 0;
}
.gmap-canvas {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
/* DESKTOP STYLES */
@media screen and (min-width:800px){
    /* Navigation bar desktop version */
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        margin-top: 0;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
    }
    /* Footer for desktop */
    footer {
        justify-content: space-between;
    }
    .footersection1 {
        margin-left: 3em;
    }
    .footersection2 {
        margin-right: 3em;
    }
    /* Home page for desktop + common! */
    .home-main {
        margin-top: 6em;
    }
    .whitehome-container {
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
        grid-template-areas: 
            ". whiteimage whitebuttons .";
    }
    .home-white-background,
    .tea-white-background,
    .shop-white-background {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    .home-title-container {
        display: none;
    }
    .home-title-container2 {
        display: block;
    }
    .home-title,
    .tea-title {
        font-size: 3vw;
    }
    .home-subtitle,
    .tea-subtitle {
        font-size: 2.4vw;
    }
    .home-image-container {
        grid-area: whiteimage;
        height: fit-content;
        align-self: center;
    }
    .home-buttons {
        grid-area: whitebuttons;
        height: fit-content;
        align-self: center;
    }
    .white-button-shop {
        font-size: 2vw;
        padding-right: 2em;
        padding-left: 2em;
    }
    .white-button-about {
        font-size: 1.4vw;
    }
    .home-pickwicktea {
        width: 600px;
    }
    .home-white-background {
        height: 35em;
        padding-top: 2em;
    }
    .home-green {
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
        grid-template-areas: 
            ". contesttext contestaction .";
    }
    .home-contest-container {
        grid-area: contesttext;
        height: fit-content;
        align-self: center;
    }
    .home-contest-container2 {
        grid-area: contestaction;
        height: fit-content;
        align-self: center;
    }
    .home-contestimage {
        width: 600px;
    }
    .home-contest-text {
        font-size: 3vw;
    }
    .home-contest-text-small {
        font-size: 2vw;
    }
    .green-button-contest {
        font-size: 1.5vw;
    }
    .white-button-shop:hover,
    .white-button-about:hover,
    .green-button-contest:hover,
    #button:hover {
        box-shadow: 0.5px 0.5px 3px 1.5px lightslategray;
    }
    /* ACCORDION desktop */
    .accordion-container-main {
        margin: 1em 15em 2em 15em;
    }
    .accordion-label-style {
        font-size: 1.6em;
    }
    .accordion-content-text {
        font-size: 1.5em;
        margin: 1em;
    }
    .accordion label:hover {
        background: #99cc33;
    }
    .content {
        background-color: #ccff66;
    }
    .accordion label {
        background: #ccff66;
    }
    /* ABOUT TEA desktop */
    .tea-white-background {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 36em;
    }
    .tea-pickwicktea {
        width: 43vw;
        margin-left: 3em;
        margin-right: 2em;
    }
    .tea-title-container {
        padding-top: 0;
    }
    .tea-image-container {
        padding-top: 0;
    }
    .tea-main {
        margin-top: 5em;
    }
    .tea-description {
        font-size: 1.6vw;
    }
    .accordion-container-main {
        margin-top: 3em;
    }
    /* BUY NOW desktop */
    .shop-pickwicktea {
        width: 450px;
        margin-bottom: 2em;
    }
    .shop-white-background {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas:
            ". shop1 shop2 .";
    }
    .shop-white-section1 {
        grid-area: shop1;
        align-self: center;
    }
    .shop-white-section2 {
        grid-area: shop2;
        align-self: center;
    }
    #button {
        font-size: 1.5em;
    }
    .shop-main {
        margin-top: 0;
    }
    .shop-image-container {
        padding-top: 0;
    }
    .picker-info {
        font-size: 1.5em;
        padding-bottom: 0.3em;
    }
    .form {
        font-size: 1.4em;
        padding: 0.5em;
        border: 3.5px solid #99cc33;
    }
    .rating-star {
        width: 45px;
    }
    .reviews-headline {
        margin-bottom: 1em;
    }
    .reviews:hover {
        color: #99cc33;
    }
    .amounts-heading,
    .accessories-heading {
        text-align: left;
        margin-left: 2em;
        font-size: 2em;
    } 
    .products-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5em;
    } 
    .product-image {
        width: 400px;
    }
    .single-product {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1.2em;
    }
    .shop-green {
        padding-top: 3em;
    }
    .product-text1 {
        font-size: 1.5em;
        margin-top: 0.8em;
    }
    .product-text2 {
        font-size: 1.2em;
    }
    /* ABOUT PICKWICK desktop */
    .about-heading,
    .contest-heading,
    .contact-heading {
        font-size: 3.5em;
        padding-top: 1.5em;
    }
    .about-subheading,
    .contest-subheading {
        font-size: 2.5em;
    }
    .common-text {
        font-size: 1.5em;
        margin-left: 5em;
        margin-right: 5em;
    }
    .certificate {
        width: 150px;
        margin-left: 1em;
        margin-right: 1em;
    }
    .certificates-container {
        margin-top: 3em;
        margin-bottom: 5em;
    }
    .about-image {
        display: none;
    }
    /* CONTEST desktop */
    .contest-subheading1,
    .contest-subheading2 {
        font-size: 3em;
    }
    .contest-heading {
        font-size: 4em;
        margin-bottom: 0.6em;
    }
    .photocontest-container {
        flex-direction: row;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 4em;
    }
    .contestant-image {
        width: 350px;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 60% 40% 60% 40%;
    }
    .contest-heading-img {
        display: none;
    }
    /* CONTACT desktop */
    .contact-first-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .contact-text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contacttext-info {
        margin: 0;
        font-size: 1.6em;
        margin-left: 1em;
    }
    .contact-href:hover {
        color: #99cc33;
    }
    #gmap-canvas {
        width: 1000px;
        height: 500px;
    }
    .gmap-canvas {
        margin-bottom: 6em;
    }
}